html
  head
    title='Docker Rocks'
 <div style="background-image:url(http://www.html.am/images/backgrounds/background-image-2.gif);width:300px;height:200px;">HTML background image example</div>

body

        h1 Hello Innominds!!!
        p Simple web app that is not patched and not safe!!
        
